<h1>Pokémon</h1>

<input
  type="text"
  placeholder="Buscar Pokémon..."
  #txt
  (input)="buscar(txt.value)">

<div *ngIf="cargando">
    Cargando...
</div>

<div *ngIf="error">
    {{error}}
</div>

<div class="contenedor">

<div
class="card"
*ngFor="let pokemon of pokemons">

<img
[src]="pokemon.sprites.front_default">

<h2>{{pokemon.name}}</h2>

<p>ID: {{pokemon.id}}</p>

<p>Altura: {{pokemon.height}}</p>

<p>Peso: {{pokemon.weight}}</p>

<p>Experiencia: {{pokemon.base_experience}}</p>

<p>

Tipo:

{{pokemon.types[0].type.name}}

</p>

</div>

</div>

<div class="paginacion">

  <button (click)="anterior()">
    Anterior
  </button>

  <span>
    Página {{ paginaActual }}
  </span>

  <button (click)="siguiente()">
    Siguiente
  </button>

</div>
<router-outlet />
